<header class="container">
  <%= partial "partials/navigation" %>
  <%= partial "partials/header" %>
  <%= partial "partials/footer" %>
</header>

<div class="photo"></div>

<main class="container">
  <section class="two-columns">
    <%= partial "partials/about" %>
    <%= partial "partials/why-us" %>
  </section>

  <section class="top-divider">
    <%= partial "partials/solutions" %>
  </section>

  <section class="top-divider">
    <%= partial "partials/contact-form" %>
  </section>
</main>
