<header class="container">
  <%= partial "partials/navigation" %>
  <%= partial "partials/header" %>
</header>

<div class="photo"></div>

<main class="container">
  <section class="two-columns">
    <%= partial "partials/about" %>
    <%= partial "partials/goals" %>
  </section>

  <section>
    <%= partial "partials/why-us" %>
  </section>

  <%= partial "partials/contact-form" %>
</main>
